<div class="row">
    <!-- Zero config table start -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                {{!-- <button onclick="showSelectedRow($rows);">Print</button> --}}
                {{!-- <button onclick="showSelectedRow($rows);" type="button" class="btn btn-success" title=""
                    data-toggle="tooltip" data-original-title="btn btn-warning">Print</button> --}}
                <h5>Investment</h5>
                <form method="post" action="/apps/tbills/invoice">

                    <input type="hidden" name="custId" id="mydata" value="">
                       <input type="hidden" name="csd"  value={{csd}}>


                    <div class="text-right mb-5">
                        <button class="btn btn-success"  type="submit">Print Advice</button>
                    </div>

                </form>


            </div>
            {{!-- <input type="button" value="Get Selected" onclick="GetSelected()" /> --}}
            <div class="card-body" id="custable">
                <div class="dt-responsive table-responsive">
                    <table id="simpletable" class="table table-striped table-bordered nowrap">
                        <thead>
                            <tr>
                                {{!-- <th><input id="check_all" type="checkbox"></th> --}}
                                <th>ID</th>
                                <th>CL PREFIX</th>
                                <th>SHORT NAME</th>
                                <th>TENDERNO</th>
                                <th>MATURITY VALUE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each result}}
                            <tr>
                                {{!-- <td><input type="checkbox" name="row-check" value={{result}}></td> --}}
                                <td>{{id}}</td>
                                <td>{{shortname}}</td>
                                <td>{{tenderno}}</td>
                                <td>{{clientprefix}}</td>
                                <td>{{maturityvalue}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                        {{!-- <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>CL PREFIX</th>
                                <th>SHORT NAME</th>
                                <th>TENDERNO</th>
                                <th>MATURITY VALUE</th>
                            </tr>
                        </tfoot> --}}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>