{{#each result}}

  <main style="overflow:hidden; margin: 15px;padding-right:5px;padding-left:5px;height: 525px;max-height:525px;">

  <hr>
  <div class="col-md-12">
<div class="text-center">
      <strong>
        <address>
          {{title}}. {{surname}}. {{other_names}}
        </address>
      </strong>
</div>
    <div class="col-sm-6 order-sm-0"> 
       <img id="logo" src="/assets/images/logos/logo.png" width="60" height="30" title="Tbills" alt="Tbills" />
      <address>
        {{address}}
      </address>
    </div>
  </div>
	
  <div class="card" >
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table mb-0">
		<thead class="card-header">
          <tr>
            <td class="col-3"><strong>Auction Number</strong></td>
			<td class="col-4"><strong>CSD Account No</strong></td>
            <td class="col-2 "><strong>Type of Security</strong></td>
			<td class="col-1 text-center"><strong>Effective Date</strong></td>
            <td class="col-2"><strong>Maturity Date</strong></td>
          </tr>
        </thead>
          <tbody>
            <tr>
              <td class="col-3">{{accountnumber}}</td>
              <td class="col-4">{{csd}}</td>
              <td class="col-2 text-center">{{sctype}}</td>
			  <td class="col-1 text-center">{{epdte}}</td>
			  <td class="">{{mdate}}</td>
            </tr>

          </tbody>
		  <tfoot class="card-footer">
			<tr>
              <td colspan="3" class="text-end"><strong>Amount Invested: </strong></td>
              <td class="">{{fomartprice amountinvested}}</td>
            </tr>
            <tr>
              <td colspan="3" class="text-end"><strong>Discount Rate (%):</strong></td>
              <td class="">{{drate}}</td>
            </tr>
			<tr>
              <td colspan="3" class="text-end"><strong>Maturity Value (GHS):</strong></td>
              <td class="text-end">{{fomartprice mval }}</td>
            </tr>
		  </tfoot>
        </table>
      </div>
               <div className="col-md-2 text-center">
                      
                        Please notify CAL Bank at least one week before maturity
                        if you wish to make changes to your initial
                        instructions.
                     

                      <div className="title">Authorised Signature</div>
                      <img src="/assets/images/logos/signature.png" width="60" height="40" alt="signature" />
                    </div>
    </div>
  </div>
  </main>
{{/each}}

